@model ClienteModel;

<h2>Cadastro de Clientes</h2>



<form asp-controller="Cliente" asp-action="Cadastro" name="dados" >
    <input type="hidden"  asp-for="Id" value=" @try{ @ViewBag.Cliente.Id } catch { }" />
    <div class="form-group">
        <label>Nome</label>
        <input type="text" asp-for="Nome" class="form-control"  maxlength="150" value="@try{@ViewBag.Cliente.Nome}catch{}" required />
       
    </div>
    <div class="form-group">
        <label>CPF</label>
        <input type="number" asp-for="CPF" class="form-control"  maxlength="10" value="@try{@ViewBag.Cliente.CPF}catch{}" required/>
       
    </div>
    <div class="form-group">
        <label>Data de Nascimento</label>
        <input type="date" asp-for="DataNascimento" class="form-control" max="@DateTime.Now"  value="@try{@DateTime.Parse(ViewBag.Cliente.DataNascimento)}catch{}"  required/>
       
    </div>
    <div class="form-group">
        <label>Renda Familiar</label>
        <input type="number" asp-for="RendaFamiliar" class="form-control"  min="0" value="@try{@decimal.Parse(ViewBag.Cliente.RendaFamiliar)}catch{}"/>
        
    </div>
    
    <button type="submit" class="btn btn-block btn-success" >Registrar</button>
</form>


