@model ClienteModel;

<h3>Lista de Clientes</h3>

<form asp-controller="Cliente" asp-action="Filtrar" >
    <div class="row mb-2 m-1">
            <input type="text" asp-for="Filtro" class="form-control col-9 " />
            <button type="submit" class="btn btn-block btn-success col-3 px-1" >Pesquisar</button>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">#</th>            
            <th>Nome</th>            
            <th>Renda Familiar</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (List<ClienteModel>)ViewBag.ListaClientesFiltro)
            {
                <tr>
                    <td class="text-center"><button type="button" class="btn btn-warning " onclick="Editar(@item.Id)">Editar</button></td>
                    <td class="text-center"><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>                   
                    <td>@item.Nome</td>                   
                    <td>@item.RendaFamiliar</td>
                </tr>
            }
        }
    </tbody>
</table>

<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar Cliente</button>

<script>
    function Cadastrar() {
        window.location.href="../Cliente/Cadastro"
    }
    function Editar(id) {
        window.location.href = "../Cliente/Cadastro/" + id
    }
    function Excluir(id) {
        window.location.href = "../Cliente/Excluir/" + id
    }
</script>